[submodule "public"]
	path = public
	url = https://github.com/prabhumarappan/prabhumarappan.github.io
	branch = master
[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
